.map-status-box {
    display: inline-block;
    border: #999999 2px ridge;
    color: #000000;
    font-size: 11pt;
    height: 28px;
    line-height: 28px;
    padding-left: 0.5em;
    padding-right: 0.5em;
    min-width: 7em;
    text-align: center;
    
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.map-status {
    background-color: #999999;
    padding: 0px;
    height: 32px;
    text-align: right;
    cursor: pointer;
}

.map-status-disabled {
    color: #666666;
}

.map-status-not-link {
    cursor: not-allowed;
}

.map-menu{
    position: fixed;
    bottom: 32px;
    right: 0px;
    z-index: 99999999;
    background-color: #999999;
    padding: 3px;
    border: #999999 2px ridge;
    overflow-y: auto;
    overflow-x: hidden;
    max-height: 60%;
}

.map-menu-item{
    padding: 3px;
    width: 20em;
}

.map-colorscale{
    position: fixed;
    top: 5px;
    right: 5px;
    width: 30px;
    height: 480px;
    background-color: #999999;
    border: #FFFFFF 2px solid;
    overflow: hidden;
}
.map-colorscale-line{
    position: relative;
    margin: 0px;
    padding: 0px;
    height: 4px;
    width: 100%;
}
